*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif
}

header{
background-color: rgb(149, 35, 35);
color: white;
text-align: center;
font-size: 40 px;
padding: 30px;

}

nav{

    float: left;
    background-color: darkblue;
    width: 30%;
    height: 300px;
    padding: 20px;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

article{
    float: left;
    height: 300px;
    width:70%;
    background-color: white;
    padding: 20px;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
    background-color: grey;
    padding: 10px;
    text-align: center;
    color: white;
  }